// studying sass

// clearfix for float elements
.clearfix {
	display: inline;
	height: 1%;
	display: block;

	&:after {     
		content: ".";     
		display: block;     
		height: 0;     
		clear: both;     
		visibility: hidden;
	} 
} 

// grid system actually starts here

// column size 
$col-size-g12: 8.33333333%;
$col-size-g16: 6.25%;

// global grid rules
.container {
	width: 1000px;
}
@media only screen and (max-width: 1000px) {
	.container {
		width: 100%;
	}
}

.col {
	display: table;
	padding: 0px 20px;
	float: left;
}

@function col-size-g12($n) {
 	@return $n * $col-size-g12;
}

@function col-size-g16($n) {
	@return $n * $col-size-g16;
}






